
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-body ">
        <div class="row">
            <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
            </div>
            </div>
            <div class="col-7 col-md-8">
            <div class="numbers">
                <p class="card-category">Outside Temperature</p>
                <p class="card-title">23°C
                <p>
            </div>
            </div>
        </div>
        </div>
        <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="fa fa-refresh"></i> Update Now
        </div>
        </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-body ">
        <div class="row">
            <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
            </div>
            </div>
            <div class="col-7 col-md-8">
            <div class="numbers">
                <p class="card-category">Lights</p>
                <p class="card-title">0,34kWh
                <p>
            </div>
            </div>
        </div>
        </div>
        <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="fa fa-calendar-o"></i> Update Now
        </div>
        </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-body ">
        <div class="row">
            <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
            </div>
            </div>
            <div class="col-7 col-md-8">
            <div class="numbers">
                <p class="card-category">Frying Temperature</p>
                <p class="card-title">122°C
                <p>
            </div>
            </div>
        </div>
        </div>
        <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="fa fa-clock-o"></i> Update Now
        </div>
        </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-body ">
        <div class="row">
            <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
            </div>
            </div>
            <div class="col-7 col-md-8">
            <div class="numbers">
                <p class="card-category">Gas Consumption</p>
                <p class="card-title">200kg</p>
            </div>
            </div>
        </div>
        </div>
        <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="fa fa-refresh"></i> Update now
        </div>
        </div>
    </div>
    </div>
</div>


<div class="row">
        <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header">
            <h5 class="card-title">Output Potatoes</h5>
            <!-- <p class="card-category">Line Chart with Points</p> -->
            </div>
            <div class="card-body">
            <canvas id="speedChart" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
            <div class="chart-legend">
                <i class="fa fa-circle text-info"></i> Tesla Model S
                <i class="fa fa-circle text-warning"></i> BMW 5 Series
            </div>
            <hr/>
            <div class="card-stats">
                <i class="fa fa-check"></i> Data information certified
            </div>
            </div>
        </div>
        </div>
</div>

<div class="row">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">Motor 1</h5>
                    <p class="card-category">Power Consumption</p>
                    </div>
                    <div class="card-body ">
                    <!-- <canvas id="chartEmail"></canvas> -->
                    </div>
                    <div class="card-footer ">
                    <div class="legend">
                            <p class="power-consumption">11kWh</p>                        
                    </div>
                    <hr>
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Motor 2</h5>
                        <p class="card-category">Power Consumption</p>
                        </div>
                        <div class="card-body ">
                        <!-- <canvas id="chartEmail"></canvas> -->
                        </div>
                        <div class="card-footer ">
                        <div class="legend">
                                <p class="power-consumption">20kWh</p>                        
                            </div>
                        <hr>
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                    <div class="card ">
                        <div class="card-header ">
                            <h5 class="card-title">Motor 3</h5>
                            <p class="card-category">Power Consumption</p>
                            </div>
                            <div class="card-body ">
                            <!-- <canvas id="chartEmail"></canvas> -->
                            </div>
                            <div class="card-footer ">
                            <div class="legend">                    
                                    <p class="power-consumption">23kWh</p>                        
                                </div>
                            <hr>
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                </div>
   
</div>
<button (click)="getData()">Click me</button>




<!-- <div class="row">
    <div class="col-md-12">
    <div class="card ">
        <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
        </div>
        <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
        </div>
        <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
        </div>
    </div>
    </div>
</div> -->

